<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<form action='register' method='POST'>
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br><br>
    <input type="text" name="Last_name" placeholder="Enter your last name"><br><br>
    <input type="email" name="email" placeholder="Enter your email address"><br><br>
    <input type="password" name="password" placeholder="Enter your password"><br><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
    {% endfor %}
 </body>
</html>
